 <div class="row" style = "margin-top:100px">
 <div class="col-sm-6 col-sm-offset-2">
  <div class='row'> image upload
   <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'">Select image</div></div>
 <div class='row'> 
 	USERNAME<input class="form-control" ng-model="user.username" ng-blur="updateusername()">
 </div>
<div class='row'> 
 	USER BIOGRAPHY<textarea class="form-control" ng-model="user.bio" ng-blur="updatebio()"> </textarea>
 </div>



 </div>
 </div>